<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
   	<%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :first %>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :translator %>
    <%= f.text_field :translator %>
  </div>
  <div class="field">
    <%= f.label :OriginalLanguage %>
    <%= f.text_field :OriginalLanguage %>
  </div>
  <div class="field">
    <%= f.label :isbn %>
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :pages %>
    <%= f.text_field :pages %>
  </div>
  <div class="field">
    <%= f.label :paypal %>
    <%= f.text_field :paypal %>
  </div>
  <div class="field">
    <%= f.label :paypal2 %>
    <%= f.text_field :paypal2 %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :aboutAuthor %>
    <%= f.text_area :aboutAuthor %>
  </div>
  <div class="field">
    <%= f.label :aboutTranslator %>
    <%= f.text_area :aboutTranslator %>
  </div>
  <div class="field">
    <%= f.label :quote %>
    <%= f.text_area :quote %>
  </div>
  <div class="field">
    <%= f.label :quoter %>
    <%= f.text_field :quoter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
