<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :translator %><br />
    <%= f.text_field :translator %>
  </div>
  <div class="field">
    <%= f.label :OriginalLanguage %><br />
    <%= f.text_field :OriginalLanguage %>
  </div>
  <div class="field">
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :pages %><br />
    <%= f.text_field :pages %>
  </div>
  <div class="field">
    <%= f.label :paypal %><br />
    <%= f.text_field :paypal %>
  </div>
  <div class="field">
    <%= f.label :paypal2 %><br />
    <%= f.text_field :paypal2 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :aboutAuthor %><br />
    <%= f.text_area :aboutAuthor %>
  </div>
  <div class="field">
    <%= f.label :aboutTranslator %><br />
    <%= f.text_area :aboutTranslator %>
  </div>
  <div class="field">
    <%= f.label :quote %><br />
    <%= f.text_area :quote %>
  </div>
  <div class="field">
    <%= f.label :quoter %><br />
    <%= f.text_area :quoter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
