<div class="container">
	<div class="row">
		<div class="col-md-8 living-library-header">
			<h1>The Living Library</h1>
		</div>

		<div class="col-md-4 living-library-sorter" align="right">
			<br><h5>Sort by

				<%@sort_attributes.each { |attribute| %>
					<a class="<%= "selected" if attribute == @sorting %>" href="/books/?sort=<%= attribute %>"><%= attribute %></a>
					<%= "/" unless attribute == @sort_attributes.last %>
					<% } %>
				</h5>
		</div>
	</div>

		<br><br><br><br>

	<div style="display:flex;flex-direction:column;">
		<% @books.each do |book| %>
		<div class="row book-list-item">
			<div class="col-md-2 thumbnail-app thumbnail-image">
				<%= image_tag book.name+"-thumb.jpg"%>
			</div>
			<div class="col-md-7 book-list-details">
				<h1><small><%= link_to book.title, book %></small></h1>
				<h3><%= book.first %> <%= book.author %>

					<% unless book.translator.empty? %>
					<small><br>Translated from the <%= book.OriginalLanguage %> by <%= book.translator %></small></h3>
					<% end %>
				</div>
			</div>
			<br>
			<% end %>

			<% if admin_signed_in? %>
			<%= link_to 'New Book', new_book_path %><br><br>
			<% end %>

	</div style="display:flex;flex-direction:column;">
</div>
