<div align="center"><h1>The Living Libary</h1><br><br><br></div>

<table>
 

<% @books.each do |book| %>
	<div class="row">
 		<div class="span3">
			<%= image_tag book.name+"-thumb.jpg"%>
		</div>
		<div class="span8 offset 1">
		    <h1><small><%= link_to book.title, book %></small></h1>
	    	<h2><%= book.author %></h2>
	
		    <% unless book.translator.empty? %>
				<h3>Translated from the <%= book.OriginalLanguage %> by <%= book.translator %></h3>
			<% end %>
			<br>
		</div>
	</div>
<% end %>

</table>

<br />

<%= link_to 'New Book', new_book_path %>
