<p id="notice"><%= notice %></p>

<div class="row">
	
	<div class="span4">
		<%= image_tag @book.name+"-01.png"%>
	</div>

	<div class="span7 offset1">
		<h1><%= @book.title %></h1>
		<h3><%= @book.author %></h3>
		
		
		<% unless @book.translator.empty? %>
			<p>Translated from the <%= @book.OriginalLanguage %> by <%= @book.translator %></p>
		<% end %>
		
		
		<h5>ISBN-13: <%= @book.isbn %></h5>
		<h5>Price: <%= number_to_currency @book.price %></h5>
		<h5><%= @book.pages %></h5>
		
		<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr"\ method="post"> 
			<input type="hidden" name="cmd" value="_s-xclick"> 
			<input type="hidden" name="hosted_button_id" value="<%= @book.paypal %>"> 
			<input\ type="image" src="addtocart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt=""\ border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1"\ height="1"> 
		</form>

		<form action="https://www.paypal.com/cgi-bin/webscr"\ method="post"> 
			<input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="WWYUPJWU8UWMC"> 
			<input\ type="image" src="buynow.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> 
			<img alt=""\ border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1"\ height="1"> 
		</form>
		
		<p>
		  <%= @book.description %>
		</p>
		
		<% unless @book.author.empty? %>
			<p><%= @book.aboutAuthor %></p>
		<% end %>
		
		<% unless @book.translator.empty? %>
			<p><%= @book.aboutTranslator %></p>
		<% end %>
		
		<p>
		  "<%= @book.quote %>"
		<br>&#8212; <%= @book.quoter %>
		</p>
		
		
	</div>

</div>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
