<p id="notice"><%= notice %></p>

<div class="row">
	
	<div class="span4">
		<%= image_tag @book.name+"-01.png"%>
	</div>

	<div class="span7 offset1">
		<h1><%= @book.title %></h1>
		<h3><%= @book.author %></h3>
		
		
		<% unless @book.translator.empty? %>
			<p>Translated from the <%= @book.OriginalLanguage %> by <%= @book.translator %></p>
		<% end %>
		
		
		<p class="quote"><%= @book.pages %> / <%= number_to_currency @book.price %>
			<br>
		ISBN-13: <%= @book.isbn %></p>
		
		<br>

		<div class="row">
			<div class="span2">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="<%= @book.paypal2 %>">
					<input class="btn btn-primary btn-large" type="submit" border="0" value="Buy now" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
			<div class="span1">			
				<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="<%= @book.paypal %>">
					<input class="btn btn-inverse btn-large" type="submit" border="0" value="Add to cart" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
		</div>

		<p class="lead">
		  <%= @book.description %>
		</p>
		
		<p align="left" class="divider"><br>&#10539;<br><br></p>
		
		<% unless @book.aboutAuthor.empty? %>
			<h3>About <%= @book.author %></h3>
			<p><%= @book.aboutAuthor %></p>
		<% end %>
		
		<% unless @book.aboutTranslator.empty? %>
			<h3>About <%= @book.translator %></h3>
			<p><%= @book.aboutTranslator %></p>
		<% end %>
		
		<p align="left" class="divider"><br>&#10540;<br><br></p>

		<p class="quote">
		  "<%= @book.quote %>"
		<br>&#8212; <%= @book.quoter %>
		</p>
		
		
	</div>

</div>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
