<!DOCTYPE html>
<html>
<head>
  <title>Tavern</title>
  <%= stylesheet_link_tag    "bootstrap" %> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <a class="brand" href="/">Tavern Books</a>
	          <div class="nav-collapse">
	            <ul class="nav pull-right">
	              <li><a href="/">The Living Library</a></li>
			   	  <li><a href="/">Broadsides</a></li>
	              <li><a href="/about">About</a></li>
	              <li><a href="/community-outreach">Community Outreach</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>

<div class="container" style="padding-bottom:100px;">
	<%= yield %>
</div>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="span8">
				<h5>&copy; Tavern Books 2012<br><br></h5>
				<div id="fb-root"></div>
				<script src="http://connect.facebook.net/en_US/all.js#appId=200482016666706&amp;xfbml=1"></script><fb:like href="http://www.facebook.com/pages/Tavern-Books/163093477074431" send="false" width="450" show_faces="false" font="arial"></fb:like>
			</div>
			<div class="span4">
				<img src="/assets/logo.png" class="pull-right">
			</div>
		</div>
	</div>
	
</footer>

</body>
</html>
